dj-database-url==0.4.1
Django==2.1.1
gunicorn==19.9.0
psycopg2==2.7.5
whitenoise==3.2.2
-e git+https://github.com/django-import-export/django-import-export.git@54232db4a511cc5f0b085c6bb192c3619f27e452#egg=django_import_export
